.div {
  margin-top: 20px;
  margin-left: 20px;
}

button {
  margin: 0 8px;
  padding: 12px 20px;
}

.number-block {
  height: 85px;
  width: 85px;
  border: 1px solid inherit;
  line-height: 85px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  margin: 0 5px 10px;
}

.zero {
  background: green;
}

.red {
  background: red;
}

.black {
  background: black;
}

.unknown {
  display: none;
}
