<div class="row justify-content-between mr-0 div">

  <div class="btn-group col-md-4" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary" (click)="startGame()">Start</button>
    <button type="button" class="btn btn-danger" (click)="stopGame()">Stop</button>
    <button type="button" class="btn btn-secondary" (click)="resetGame()">Reset</button>
  </div>

  <div class="input-group col-md-6 flex-column">
    <input type="text" class="mb-2 d-inline-block w-50" [(ngModel)]="betValue">
    <div class="radio-btn-group">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="radio-group" id="red" value="red" [(ngModel)]="radioValue"/>
        <label class="form-check-label" for="red">Red</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="radio-group" id="black" value="black" [(ngModel)]="radioValue"/>
        <label class="form-check-label" for="black">Black</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="radio-group" id="zero" value="zero" [(ngModel)]="radioValue"/>
        <label class="form-check-label" for="zero">Zero</label>
      </div>
      <span>Balance: {{ balance }}</span>
    </div>
  </div>

</div>

<hr/>

<div class="row mr-0 div">
  <div
    class="number-block text-center"
    *ngFor="let number of numbers"
    appColor="{{ number }}"
  >{{ number }}</div>
</div>

